$color-primary: rgb(112, 112, 113);
$color-link: rgb(0, 161, 154);
$color-link-hover: rgb(255, 209, 0);
$responsive-buttons: 568px;
// $color-text: darken($color-primary, 50%);

@import "../themes/academic-workshop/sass/main.scss";

a {
    color: $color-link;
}

a:hover {
    color: $color-link-hover;
}

.orcid {
    vertical-align: top;
    display: inline;
    max-width: 24px;
    min-width: 13px;

    &-smaller {
        @extend .orcid;
        vertical-align: super;
        display: inline;
        width: 13px;
    }
}

.fade.orcid {
    @extend .orcid;

    background: none;
    box-shadow: none;

    &:hover {
        // background: rgba($color-link-hover, 80%);
        box-shadow: 0 0 0.4rem 0.4rem rgba($color-link-hover, 60%);
    }

    &-smaller {
        @extend .orcid-smaller;

        &:hover {
            box-shadow: 0 0 0.2rem 0.2rem rgba($color-link-hover, 60%);
        }
    }
}

.royce {
    color: $color-link;
    border-color: $color-link;
    font-weight: 600;
}

.royce:hover {
    color: $color-link-hover;
    background-color: rgba($color-link, 1);
}

.btn.royce {
    background-color: rgba(lighten($color-link, 2%), 0.1);
    font-weight: 600;

    &-rev {
        color: $color-primary;
        border-color: $color-link-hover;
        font-weight: 600;
        background-color: rgba($color-link-hover, 0.1);

        &:hover {
            color: $color-primary;
            background-color: $color-link-hover;
            border-color: $color-link-hover;
        }
    }

    &:hover {
        color: $color-link-hover;
        background-color: $color-link;
        border-color: $color-link;
    }
}

.fade {
    background: rgba($color-light, 80%);
    box-shadow: 0 0 1rem 1rem rgba($color-light, 80%);
}

.footer .last-updated {
    font-size: smaller;
    text-align: center;
}

h6 {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &.royce {
        color: $color-link;
        border-color: none;

        &:hover {
            color: $color-link;
            background-color: transparent;
            border-color: transparent;
        }
    }
}

@media (max-width: $responsive-buttons) {
    .btn.royce {
        font-size: 0.9rem;
        padding: .325rem .7rem
    }

    .d-flex {
        flex-wrap: wrap;
    }
}